NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MODERADOR_PASSWORD=
RESEND_API_KEY=
RESEND_FROM_EMAIL=Asamblea <credenciales@tu-dominio.org>
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_PHONE=
TWILIO_PHONE_NUMBER=
