NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MODERADOR_PASSWORD=
RESEND_API_KEY=
RESEND_FROM_EMAIL=Asamblea <credenciales@tu-dominio.org>
APP_BASE_URL=
SENT_API_KEY=
SENT_TEMPLATE_ID=
SENT_SANDBOX=false
